body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: black;
}

.title{
	text-align: center;
	font-weight: bold;
	color: white;
}

.question
{
	text-align: left;
	font-weight: bold;
	color: white;
}

h1{
	font-size: 3.4em;
}

.cards-container{

}
.cards{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

.cards-submit{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
}

@media screen and (max-width: 40em) {
    h1{font-size:2.0em;}
}

.playerView{
	display: none;
}

/*CSS FOR JOIN GAME VIEW*/

#joinGame{
	background-color: white;
	color:black;
	font-weight: bold;
}

#username{
	background-color: black;
	text-decoration: underline;
}