/*GENERAL STYLES*/

body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: black;
}

.title{
	text-align: center;
	font-weight: bold;
	color: white;
}

.question
{
	text-align: left;
	font-weight: bold;
	color: white;
}

h1{
	font-size: 3.4em;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: bold;
}

.container{
	padding: 5px;
}

.cards-container{

}
.cards{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 10px;
}

.bigWhiteCard{
	background: white;
	border-radius:5px;
	color:black;
	height: 200px;
}

.vertical-align{
	text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cards-submit{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
}

@media screen and (max-width: 40em) {
    h1{font-size:2.0em;}
}

.whiteButton{
	background-color: white;
	color:black;
	font-weight: bold;
	border-radius:5px;
}
/*STYLES FOR PLAYER HAND*/

.playerView{
	display: none;
}

/*CSS FOR JOIN GAME VIEW*/

#username{
	background-color: black;
	font-size: 2em;
	border-bottom: 1px solid white;
	outline:none;
}

/*CSS FOR PLAYER WAIT VIEW*/
.playerWait{
	display:none;
}

#playerWaitingMessage{
	display: none;
}
/*CSS FOR HOST WAIT VIEW*/
.hostWait{
	display: none;
}

/*CSS FOR HOSTVIEW*/
.hostView{
	display: none;
}

/*CSS FOR WINNING VIEW*/
.endRoundView{
	display: none;
}

.winningCard{
	text-align: left;
	font-weight: bold;
	color: white;
}

.winningText{
	text-align: left;
	color: white;
}