body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: black;
}

.question
{
	text-align: left;
	font-weight: bold;
	color: white;
}

h1{
	font-size: 3.4em;
}

.cards-container{

}
.cards{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
}

.cards-submit{
	background: white;
	border-radius:5px;
	height: 200px;
	width: 115%;
	padding: 10px;
	font-weight: bold;
}